<ion-view title="Add Contenders (1v1)">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Contenders</span>
                <input type="text" placeholder="Type Your Name">
            </label>
        </form>
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item>Contender1</ion-item>
                    <ion-item>Contender2</ion-item>
                </ion-list>
            </div>
        </div>
        <a href="#/duelresult" class="button button-stable button-block ">Start</a>
        <a href="#/dash" class="button button-assertive button-block ">Forget it!</a>
    </ion-content>
</ion-view>